# -- Base
.*
!.gitignore
!*.example

*.lock
*.lockb
*.log

# -- Rust
target/
!Cargo.lock # commented by default (non-prod dev)
!.cargo/

# -- Node.js
node_modules/
test-results/
end2end/playwright-report/
playwright/.cache/

# -- App
dist/
pkg/


